<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Chat</title>
</head>
<body>
    <textarea id="text" rows="3" cols="40"></textarea>
    <button id="send">Send</button>
    <div id ="response">
        <ol id = "ol">

        </ol>
    </div>
    <script type="text/javascript">
        $('#send').click(function(){
            $('#ol').append(
                '<li style="color:red;">' + $("#text").val() + '</li>'
            );
            $.ajax({
                url: "http://localhost:8000/chat",
                type: "POST",
                contentType: "application/json",
                dataType : "json",

                data: JSON.stringify({
                    "password":$("#pwd").val()
                }),
                success: function(resp){
                    $('#text').val("");
                    $('#ol').append(resp["html"]);
                }
            });
        });
        $('#text').keypress(function (e) {
         var key = e.which;
         if(key == 13)  // the enter key code
          {
            $('#send').click();
            return false;
          }
        });
    </script>
    
</body>
</html>