{% for elem in messages %}
<!-- <div class="card mb-3" style="max-width: 540px;"> -->
<!-- <div class="card mb-3"> -->
<div class="card mb-3" style="width: 100%; height: fit-content;">
  <div class="row no-gutters">
    <div class="col" style="max-width: 60px;">
      <img src="static/BotEmojis/{{ bot_emotion }}.png" class="card-img" style="max-width: 60px;">
    </div>
    <div class="col">
      <div class="card-body">
        <p class="card-text">{{ elem }}</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>
{% endfor %}
